body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    background-image: url('./Bg.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}
h1 {
    color: white;
}
h2 {
    color: white;
}
.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

#exercise-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.exercise-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 150px;
    background: white;
    box-shadow: 0 2px 5px rgb(255, 254, 254);
}
form {
    margin-top: 20px;
}

form input {
    margin: 5px;
    padding: 8px;
    width: 30%;
}

form button {
    padding: 10px;
}